<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bugnaught Back End</title>
</head>
<body>
    <h1>Bugnaught REST API endpoints</h1>
    <h3>Base URL: {{API_URL}}
    <ul>
        <hr>
        <li>GET {{API_URL}}users</li>
        <p>Fetch all users</p>
        <hr>
        <li>GET {{API_URL}}projects</li>
        <p>Fetch all projects</p>
        <hr>
        <li>GET {{API_URL}}bugs</li>
        <p>Fetch all bugs</p>
        <hr>
        <li>GET {{API_URL}}comments</li>
        <p>Fetch all comments</p>
    </ul>
    
</body>
</html>